body {
    margin:0px;
    padding:0px;
    background-image:url(img/bg.jpg);
    background-size:100% 100%;
    background-attachment:fixed;
}

.d1 { 
    margin-top:1px;
    margin-left:300px;
}

.d2 {
    margin-top:50px;
    margin-left:50px;
}

.d3 {
    margin-top:100px;
}

.d4 {
    margin-top:400px;
    margin-left:-200px;
}

.d5 {
    margin-top:-900px;
    margin-left:-40px;
}

.d6 {
    margin-top:500px;
}

